
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background: #f2f3f4;
}

.sim_details{
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0;
}

.sim_details .title{
    font-weight: bold;
}

.sd_1{
    color: #E1E1E1;
}

.sd_2{
    color: #E1E1E1;
}

.sd_3{
    color: #E1E1E1;
}

.connection_check{
    color: #E1E1E1;
}

.shellbuttons{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    align-items: center;
    border: 2px solid #536DFE;
    border-radius: 5px;
    background-color: #424242;
}

.button_width{
    min-width: 15rem;
}

.mdl-layout__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #353535;
}

.page-content-1{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 20rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 18rem;
    height: 18rem;
    border: 2px solid #536DFE;
    border-radius: 10px;
    background-color: #424242;
    margin: 10px;
}

.page-content-2{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 99%;
    max-height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    max-height: 100%;
    overflow-y: auto;
    background-color: #424242;
    border-radius: 10px;
    padding: 1rem;
    border: 2px solid #536DFE;
}

.output_command{
    display: flex;
    flex-direction: column;
    width: 95%;
    background-color: #673AB7;
    color: #fefefe;
    border-radius: 10px;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.mdl-mini-footer{
    width:100%;
    position: fixed;
    bottom: 0%;
}